--
-- PostgreSQL database dump
--

\restrict vLhFki83mSx3QysTzpO8CcDZCnyK5Q4dP65itV7orm1JbccVPjKBuIHtdRa8r8n

-- Dumped from database version 15.15 (Debian 15.15-1.pgdg13+1)
-- Dumped by pg_dump version 15.15 (Debian 15.15-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Addresses" (
    "AddressId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "RecipientName" text NOT NULL,
    "FullAddress" text NOT NULL,
    "Latitude" double precision,
    "Longitude" double precision,
    "IsDefault" boolean NOT NULL
);


ALTER TABLE public."Addresses" OWNER TO postgres;

--
-- Name: Advertisements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Advertisements" (
    "Id" uuid NOT NULL,
    "PublicId" text NOT NULL,
    "Title" text NOT NULL,
    "ImageUrl" text NOT NULL,
    "Type" text NOT NULL,
    "SortOrder" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Advertisements" OWNER TO postgres;

--
-- Name: Announcements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Announcements" (
    "Id" uuid NOT NULL,
    "ClassName" text NOT NULL,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Announcements" OWNER TO postgres;

--
-- Name: CartItems; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."CartItems" (
    "CartItemId" uuid NOT NULL,
    "CartId" uuid NOT NULL,
    "VariantId" uuid NOT NULL,
    "Quantity" integer NOT NULL
);


ALTER TABLE public."CartItems" OWNER TO postgres;

--
-- Name: Carts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Carts" (
    "CartId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Carts" OWNER TO postgres;

--
-- Name: Categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Categories" (
    "CategoryId" uuid NOT NULL,
    "Name" text NOT NULL,
    "ParentId" uuid,
    "CreatedAt" timestamp with time zone NOT NULL,
    "ImageUrl" text,
    "Icon" text
);


ALTER TABLE public."Categories" OWNER TO postgres;

--
-- Name: Coupons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Coupons" (
    "CouponId" uuid NOT NULL,
    "Code" text NOT NULL,
    "DiscountPercent" numeric(10,2) NOT NULL,
    "MinOrderAmount" numeric(18,2),
    "MaxDiscountAmount" numeric(18,2),
    "StartDate" timestamp with time zone NOT NULL,
    "EndDate" timestamp with time zone NOT NULL,
    "UsageLimit" integer,
    "UsedCount" integer NOT NULL,
    "IsActive" boolean NOT NULL
);


ALTER TABLE public."Coupons" OWNER TO postgres;

--
-- Name: FooterInfos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."FooterInfos" (
    "Id" uuid NOT NULL,
    "ClassName" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."FooterInfos" OWNER TO postgres;

--
-- Name: InventoryTransactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."InventoryTransactions" (
    "TransactionId" uuid NOT NULL,
    "VariantId" uuid NOT NULL,
    "ChangeQty" integer NOT NULL,
    "Reason" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CreatedBy" text NOT NULL
);


ALTER TABLE public."InventoryTransactions" OWNER TO postgres;

--
-- Name: NotificationHistories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."NotificationHistories" (
    "NotificationHistoryId" uuid NOT NULL,
    "Title" text NOT NULL,
    "Body" text NOT NULL,
    "ImageUrl" text,
    "TargetToken" text,
    "UserId" text,
    "IsSuccessful" boolean NOT NULL,
    "ErrorMessage" text,
    "FirebaseResponse" text,
    "Data" text,
    "RecipientCount" integer NOT NULL,
    "Status" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "SentAt" timestamp with time zone
);


ALTER TABLE public."NotificationHistories" OWNER TO postgres;

--
-- Name: OrderCoupons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OrderCoupons" (
    "OrderId" uuid NOT NULL,
    "CouponId" uuid NOT NULL,
    "DiscountAmount" numeric(18,2) NOT NULL,
    "Status" text NOT NULL,
    "ReservedAt" timestamp with time zone,
    "AppliedAt" timestamp with time zone
);


ALTER TABLE public."OrderCoupons" OWNER TO postgres;

--
-- Name: OrderItems; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OrderItems" (
    "OrderItemId" uuid NOT NULL,
    "OrderId" uuid NOT NULL,
    "VariantId" uuid,
    "ProductId" uuid,
    "Quantity" integer NOT NULL,
    "UnitPrice" numeric(18,2) NOT NULL,
    "DiscountAmount" numeric(18,2) NOT NULL,
    "TaxAmount" numeric(18,2) NOT NULL,
    "TaxRate" numeric(5,4) NOT NULL,
    "TotalAmount" numeric(18,2) NOT NULL,
    "ProductName" text,
    "ProductSku" text,
    "VariantSku" text,
    "VariantOptionsJson" text
);


ALTER TABLE public."OrderItems" OWNER TO postgres;

--
-- Name: Orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Orders" (
    "OrderId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "OrderDate" timestamp with time zone NOT NULL,
    "Status" text NOT NULL,
    "CancelReason" text,
    "AdminCancelReason" text,
    "CancelledBy" text,
    "CancelledAt" timestamp with time zone,
    "SubTotal" numeric(18,0) NOT NULL,
    "DiscountAmount" numeric(18,0) NOT NULL,
    "TotalAmount" numeric(18,0) NOT NULL,
    "BuyerName" text,
    "BuyerPhone" text,
    "ShippingAddress" text,
    "ShippingLat" double precision,
    "ShippingLng" double precision
);


ALTER TABLE public."Orders" OWNER TO postgres;

--
-- Name: Passkeys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Passkeys" (
    "Id" text NOT NULL,
    "UserId" uuid NOT NULL,
    "CredentialId" text NOT NULL,
    "PublicKey" text NOT NULL,
    "Counter" bigint DEFAULT 0 NOT NULL,
    "Transports" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastUsedAt" timestamp with time zone
);


ALTER TABLE public."Passkeys" OWNER TO postgres;

--
-- Name: Payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Payments" (
    "PaymentId" uuid NOT NULL,
    "OrderId" uuid NOT NULL,
    "Method" text NOT NULL,
    "Amount" numeric(18,2) NOT NULL,
    "Status" text NOT NULL,
    "ProviderPaymentId" text,
    "ProviderData" text,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Payments" OWNER TO postgres;

--
-- Name: ProductCategories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProductCategories" (
    "ProductId" uuid NOT NULL,
    "CategoryId" uuid NOT NULL,
    "AssignedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."ProductCategories" OWNER TO postgres;

--
-- Name: ProductLikes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProductLikes" (
    "ProductId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."ProductLikes" OWNER TO postgres;

--
-- Name: ProductVariants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ProductVariants" (
    "VariantId" uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "SKU" text NOT NULL,
    "Color" text,
    "Size" text,
    "BasePrice" numeric(18,0) NOT NULL,
    "DiscountPercent" numeric(10,2) NOT NULL,
    "DiscountAmount" numeric(18,0) NOT NULL,
    "PriceAfterDiscount" numeric(18,0) NOT NULL,
    "StockQuantity" integer NOT NULL,
    "IsDefault" boolean NOT NULL,
    "DisplayOrder" integer NOT NULL,
    "ImageUrl" text,
    "ImgHover" text,
    "ThumbnailUrl" text,
    "IsActive" boolean NOT NULL
);


ALTER TABLE public."ProductVariants" OWNER TO postgres;

--
-- Name: Products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Products" (
    "ProductId" uuid NOT NULL,
    "Name" text NOT NULL,
    "Description" text,
    "AdditionalInfo" text,
    "GenderTarget" text,
    "Brand" text,
    "AverageRating" numeric(5,2) NOT NULL,
    "TotalReviews" integer NOT NULL,
    "TotalLikes" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone,
    "IsActive" boolean NOT NULL,
    "TagsJson" text
);


ALTER TABLE public."Products" OWNER TO postgres;

--
-- Name: PushTokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PushTokens" (
    "PushTokenId" uuid NOT NULL,
    "UserId" uuid,
    "Token" text NOT NULL,
    "Platform" character varying(50) NOT NULL,
    "DeviceId" text,
    "IsActive" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "LastSeenAt" timestamp with time zone
);


ALTER TABLE public."PushTokens" OWNER TO postgres;

--
-- Name: Reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Reviews" (
    "ReviewId" uuid NOT NULL,
    "ProductId" uuid NOT NULL,
    "UserId" uuid NOT NULL,
    "Rating" integer NOT NULL,
    "Comment" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Reviews" OWNER TO postgres;

--
-- Name: Shipments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Shipments" (
    "ShipmentId" uuid NOT NULL,
    "OrderId" uuid NOT NULL,
    "ShipperId" uuid,
    "Carrier" text NOT NULL,
    "TrackingNumber" text NOT NULL,
    "Status" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "CurrentLat" double precision,
    "CurrentLng" double precision,
    "LastLocationUpdate" timestamp with time zone,
    "DeliveryAddress" text,
    "DeliveryLat" double precision,
    "DeliveryLng" double precision
);


ALTER TABLE public."Shipments" OWNER TO postgres;

--
-- Name: TrackingEvents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TrackingEvents" (
    "TrackingEventId" uuid NOT NULL,
    "ShipmentId" uuid NOT NULL,
    "Status" text NOT NULL,
    "Description" text NOT NULL,
    "Location" text,
    "EventTime" timestamp with time zone NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."TrackingEvents" OWNER TO postgres;

--
-- Name: Users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Users" (
    "Id" uuid NOT NULL,
    "FullName" text NOT NULL,
    "Email" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Phone" text,
    "Role" text NOT NULL,
    "Gender" text,
    "Avatar" text,
    "GoogleId" text,
    "EmailVerified" boolean NOT NULL,
    "MfaEnabled" boolean NOT NULL,
    "MfaType" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone
);


ALTER TABLE public."Users" OWNER TO postgres;

--
-- Data for Name: Addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Addresses" ("AddressId", "UserId", "RecipientName", "FullAddress", "Latitude", "Longitude", "IsDefault") FROM stdin;
\.


--
-- Data for Name: Advertisements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Advertisements" ("Id", "PublicId", "Title", "ImageUrl", "Type", "SortOrder", "CreatedAt") FROM stdin;
019be5ee-d7fd-78c4-99d3-d9e489d5d861		Welcome		home	0	2026-01-22 13:39:53.951541+00
\.


--
-- Data for Name: Announcements; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Announcements" ("Id", "ClassName", "IsActive", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: CartItems; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."CartItems" ("CartItemId", "CartId", "VariantId", "Quantity") FROM stdin;
\.


--
-- Data for Name: Carts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Carts" ("CartId", "UserId", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Categories" ("CategoryId", "Name", "ParentId", "CreatedAt", "ImageUrl", "Icon") FROM stdin;
\.


--
-- Data for Name: Coupons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Coupons" ("CouponId", "Code", "DiscountPercent", "MinOrderAmount", "MaxDiscountAmount", "StartDate", "EndDate", "UsageLimit", "UsedCount", "IsActive") FROM stdin;
\.


--
-- Data for Name: FooterInfos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."FooterInfos" ("Id", "ClassName", "CreatedAt", "UpdatedAt") FROM stdin;
\.


--
-- Data for Name: InventoryTransactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."InventoryTransactions" ("TransactionId", "VariantId", "ChangeQty", "Reason", "CreatedAt", "CreatedBy") FROM stdin;
\.


--
-- Data for Name: NotificationHistories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."NotificationHistories" ("NotificationHistoryId", "Title", "Body", "ImageUrl", "TargetToken", "UserId", "IsSuccessful", "ErrorMessage", "FirebaseResponse", "Data", "RecipientCount", "Status", "CreatedAt", "SentAt") FROM stdin;
\.


--
-- Data for Name: OrderCoupons; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OrderCoupons" ("OrderId", "CouponId", "DiscountAmount", "Status", "ReservedAt", "AppliedAt") FROM stdin;
\.


--
-- Data for Name: OrderItems; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OrderItems" ("OrderItemId", "OrderId", "VariantId", "ProductId", "Quantity", "UnitPrice", "DiscountAmount", "TaxAmount", "TaxRate", "TotalAmount", "ProductName", "ProductSku", "VariantSku", "VariantOptionsJson") FROM stdin;
\.


--
-- Data for Name: Orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Orders" ("OrderId", "UserId", "OrderDate", "Status", "CancelReason", "AdminCancelReason", "CancelledBy", "CancelledAt", "SubTotal", "DiscountAmount", "TotalAmount", "BuyerName", "BuyerPhone", "ShippingAddress", "ShippingLat", "ShippingLng") FROM stdin;
\.


--
-- Data for Name: Passkeys; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Passkeys" ("Id", "UserId", "CredentialId", "PublicKey", "Counter", "Transports", "CreatedAt", "LastUsedAt") FROM stdin;
\.


--
-- Data for Name: Payments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Payments" ("PaymentId", "OrderId", "Method", "Amount", "Status", "ProviderPaymentId", "ProviderData", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: ProductCategories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProductCategories" ("ProductId", "CategoryId", "AssignedAt") FROM stdin;
\.


--
-- Data for Name: ProductLikes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProductLikes" ("ProductId", "UserId", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: ProductVariants; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ProductVariants" ("VariantId", "ProductId", "SKU", "Color", "Size", "BasePrice", "DiscountPercent", "DiscountAmount", "PriceAfterDiscount", "StockQuantity", "IsDefault", "DisplayOrder", "ImageUrl", "ImgHover", "ThumbnailUrl", "IsActive") FROM stdin;
\.


--
-- Data for Name: Products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Products" ("ProductId", "Name", "Description", "AdditionalInfo", "GenderTarget", "Brand", "AverageRating", "TotalReviews", "TotalLikes", "CreatedAt", "UpdatedAt", "IsActive", "TagsJson") FROM stdin;
\.


--
-- Data for Name: PushTokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PushTokens" ("PushTokenId", "UserId", "Token", "Platform", "DeviceId", "IsActive", "CreatedAt", "LastSeenAt") FROM stdin;
\.


--
-- Data for Name: Reviews; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Reviews" ("ReviewId", "ProductId", "UserId", "Rating", "Comment", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Shipments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Shipments" ("ShipmentId", "OrderId", "ShipperId", "Carrier", "TrackingNumber", "Status", "CreatedAt", "CurrentLat", "CurrentLng", "LastLocationUpdate", "DeliveryAddress", "DeliveryLat", "DeliveryLng") FROM stdin;
\.


--
-- Data for Name: TrackingEvents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TrackingEvents" ("TrackingEventId", "ShipmentId", "Status", "Description", "Location", "EventTime", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Users" ("Id", "FullName", "Email", "PasswordHash", "Phone", "Role", "Gender", "Avatar", "GoogleId", "EmailVerified", "MfaEnabled", "MfaType", "CreatedAt", "UpdatedAt") FROM stdin;
dfa8f90d-3be1-487b-9b03-8fed45111e87	datnguyen	Datnguyen9240@gmail.com	A6IGGDgEDQvMWp/xvKWzNUrHLtrBMw47Wj2xa9DNzrs=	\N	User	\N	\N	\N	f	f	\N	2026-01-22 13:42:29.829529+00	\N
3cec438b-1a63-4c20-8a3f-2c7b667b8a29	datnguyen	Datnguyen9242@gmail.com	A6IGGDgEDQvMWp/xvKWzNUrHLtrBMw47Wj2xa9DNzrs=	\N	User	\N	\N	\N	f	f	\N	2026-01-22 13:49:13.62176+00	\N
\.


--
-- Name: Addresses PK_Addresses; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Addresses"
    ADD CONSTRAINT "PK_Addresses" PRIMARY KEY ("AddressId");


--
-- Name: Advertisements PK_Advertisements; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Advertisements"
    ADD CONSTRAINT "PK_Advertisements" PRIMARY KEY ("Id");


--
-- Name: Announcements PK_Announcements; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Announcements"
    ADD CONSTRAINT "PK_Announcements" PRIMARY KEY ("Id");


--
-- Name: CartItems PK_CartItems; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CartItems"
    ADD CONSTRAINT "PK_CartItems" PRIMARY KEY ("CartItemId");


--
-- Name: Carts PK_Carts; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Carts"
    ADD CONSTRAINT "PK_Carts" PRIMARY KEY ("CartId");


--
-- Name: Categories PK_Categories; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "PK_Categories" PRIMARY KEY ("CategoryId");


--
-- Name: Coupons PK_Coupons; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Coupons"
    ADD CONSTRAINT "PK_Coupons" PRIMARY KEY ("CouponId");


--
-- Name: FooterInfos PK_FooterInfos; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."FooterInfos"
    ADD CONSTRAINT "PK_FooterInfos" PRIMARY KEY ("Id");


--
-- Name: InventoryTransactions PK_InventoryTransactions; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryTransactions"
    ADD CONSTRAINT "PK_InventoryTransactions" PRIMARY KEY ("TransactionId");


--
-- Name: NotificationHistories PK_NotificationHistories; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."NotificationHistories"
    ADD CONSTRAINT "PK_NotificationHistories" PRIMARY KEY ("NotificationHistoryId");


--
-- Name: OrderCoupons PK_OrderCoupons; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderCoupons"
    ADD CONSTRAINT "PK_OrderCoupons" PRIMARY KEY ("OrderId", "CouponId");


--
-- Name: OrderItems PK_OrderItems; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderItems"
    ADD CONSTRAINT "PK_OrderItems" PRIMARY KEY ("OrderItemId");


--
-- Name: Orders PK_Orders; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "PK_Orders" PRIMARY KEY ("OrderId");


--
-- Name: Passkeys PK_Passkeys; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Passkeys"
    ADD CONSTRAINT "PK_Passkeys" PRIMARY KEY ("Id");


--
-- Name: Payments PK_Payments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payments"
    ADD CONSTRAINT "PK_Payments" PRIMARY KEY ("PaymentId");


--
-- Name: ProductCategories PK_ProductCategories; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductCategories"
    ADD CONSTRAINT "PK_ProductCategories" PRIMARY KEY ("ProductId", "CategoryId");


--
-- Name: ProductLikes PK_ProductLikes; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductLikes"
    ADD CONSTRAINT "PK_ProductLikes" PRIMARY KEY ("ProductId", "UserId");


--
-- Name: ProductVariants PK_ProductVariants; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductVariants"
    ADD CONSTRAINT "PK_ProductVariants" PRIMARY KEY ("VariantId");


--
-- Name: Products PK_Products; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Products"
    ADD CONSTRAINT "PK_Products" PRIMARY KEY ("ProductId");


--
-- Name: PushTokens PK_PushTokens; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PushTokens"
    ADD CONSTRAINT "PK_PushTokens" PRIMARY KEY ("PushTokenId");


--
-- Name: Reviews PK_Reviews; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "PK_Reviews" PRIMARY KEY ("ReviewId");


--
-- Name: Shipments PK_Shipments; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipments"
    ADD CONSTRAINT "PK_Shipments" PRIMARY KEY ("ShipmentId");


--
-- Name: TrackingEvents PK_TrackingEvents; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrackingEvents"
    ADD CONSTRAINT "PK_TrackingEvents" PRIMARY KEY ("TrackingEventId");


--
-- Name: Users PK_Users; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Users"
    ADD CONSTRAINT "PK_Users" PRIMARY KEY ("Id");


--
-- Name: IX_Addresses_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Addresses_UserId" ON public."Addresses" USING btree ("UserId");


--
-- Name: IX_CartItems_CartId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CartItems_CartId" ON public."CartItems" USING btree ("CartId");


--
-- Name: IX_CartItems_VariantId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_CartItems_VariantId" ON public."CartItems" USING btree ("VariantId");


--
-- Name: IX_Carts_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Carts_UserId" ON public."Carts" USING btree ("UserId");


--
-- Name: IX_Categories_ParentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Categories_ParentId" ON public."Categories" USING btree ("ParentId");


--
-- Name: IX_InventoryTransactions_VariantId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_InventoryTransactions_VariantId" ON public."InventoryTransactions" USING btree ("VariantId");


--
-- Name: IX_OrderCoupons_CouponId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_OrderCoupons_CouponId" ON public."OrderCoupons" USING btree ("CouponId");


--
-- Name: IX_OrderItems_OrderId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_OrderItems_OrderId" ON public."OrderItems" USING btree ("OrderId");


--
-- Name: IX_OrderItems_VariantId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_OrderItems_VariantId" ON public."OrderItems" USING btree ("VariantId");


--
-- Name: IX_Orders_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Orders_UserId" ON public."Orders" USING btree ("UserId");


--
-- Name: IX_Passkeys_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Passkeys_UserId" ON public."Passkeys" USING btree ("UserId");


--
-- Name: IX_Payments_OrderId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Payments_OrderId" ON public."Payments" USING btree ("OrderId");


--
-- Name: IX_ProductCategories_CategoryId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ProductCategories_CategoryId" ON public."ProductCategories" USING btree ("CategoryId");


--
-- Name: IX_ProductLikes_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ProductLikes_UserId" ON public."ProductLikes" USING btree ("UserId");


--
-- Name: IX_ProductVariants_ProductId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_ProductVariants_ProductId" ON public."ProductVariants" USING btree ("ProductId");


--
-- Name: IX_Reviews_ProductId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Reviews_ProductId" ON public."Reviews" USING btree ("ProductId");


--
-- Name: IX_Reviews_UserId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Reviews_UserId" ON public."Reviews" USING btree ("UserId");


--
-- Name: IX_Shipments_OrderId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "IX_Shipments_OrderId" ON public."Shipments" USING btree ("OrderId");


--
-- Name: IX_Shipments_ShipperId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_Shipments_ShipperId" ON public."Shipments" USING btree ("ShipperId");


--
-- Name: IX_TrackingEvents_ShipmentId; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IX_TrackingEvents_ShipmentId" ON public."TrackingEvents" USING btree ("ShipmentId");


--
-- Name: Addresses FK_Addresses_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Addresses"
    ADD CONSTRAINT "FK_Addresses_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: CartItems FK_CartItems_Carts_CartId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CartItems"
    ADD CONSTRAINT "FK_CartItems_Carts_CartId" FOREIGN KEY ("CartId") REFERENCES public."Carts"("CartId") ON DELETE CASCADE;


--
-- Name: CartItems FK_CartItems_ProductVariants_VariantId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."CartItems"
    ADD CONSTRAINT "FK_CartItems_ProductVariants_VariantId" FOREIGN KEY ("VariantId") REFERENCES public."ProductVariants"("VariantId") ON DELETE CASCADE;


--
-- Name: Carts FK_Carts_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Carts"
    ADD CONSTRAINT "FK_Carts_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Categories FK_Categories_Categories_ParentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "FK_Categories_Categories_ParentId" FOREIGN KEY ("ParentId") REFERENCES public."Categories"("CategoryId");


--
-- Name: InventoryTransactions FK_InventoryTransactions_ProductVariants_VariantId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."InventoryTransactions"
    ADD CONSTRAINT "FK_InventoryTransactions_ProductVariants_VariantId" FOREIGN KEY ("VariantId") REFERENCES public."ProductVariants"("VariantId") ON DELETE CASCADE;


--
-- Name: OrderCoupons FK_OrderCoupons_Coupons_CouponId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderCoupons"
    ADD CONSTRAINT "FK_OrderCoupons_Coupons_CouponId" FOREIGN KEY ("CouponId") REFERENCES public."Coupons"("CouponId") ON DELETE CASCADE;


--
-- Name: OrderCoupons FK_OrderCoupons_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderCoupons"
    ADD CONSTRAINT "FK_OrderCoupons_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("OrderId") ON DELETE CASCADE;


--
-- Name: OrderItems FK_OrderItems_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderItems"
    ADD CONSTRAINT "FK_OrderItems_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("OrderId") ON DELETE CASCADE;


--
-- Name: OrderItems FK_OrderItems_ProductVariants_VariantId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OrderItems"
    ADD CONSTRAINT "FK_OrderItems_ProductVariants_VariantId" FOREIGN KEY ("VariantId") REFERENCES public."ProductVariants"("VariantId") ON DELETE SET NULL;


--
-- Name: Orders FK_Orders_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "FK_Orders_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Passkeys FK_Passkeys_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Passkeys"
    ADD CONSTRAINT "FK_Passkeys_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Payments FK_Payments_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Payments"
    ADD CONSTRAINT "FK_Payments_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("OrderId") ON DELETE CASCADE;


--
-- Name: ProductCategories FK_ProductCategories_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductCategories"
    ADD CONSTRAINT "FK_ProductCategories_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("CategoryId") ON DELETE CASCADE;


--
-- Name: ProductCategories FK_ProductCategories_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductCategories"
    ADD CONSTRAINT "FK_ProductCategories_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("ProductId") ON DELETE CASCADE;


--
-- Name: ProductLikes FK_ProductLikes_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductLikes"
    ADD CONSTRAINT "FK_ProductLikes_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("ProductId") ON DELETE CASCADE;


--
-- Name: ProductLikes FK_ProductLikes_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductLikes"
    ADD CONSTRAINT "FK_ProductLikes_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: ProductVariants FK_ProductVariants_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ProductVariants"
    ADD CONSTRAINT "FK_ProductVariants_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("ProductId") ON DELETE CASCADE;


--
-- Name: Reviews FK_Reviews_Products_ProductId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_Products_ProductId" FOREIGN KEY ("ProductId") REFERENCES public."Products"("ProductId") ON DELETE CASCADE;


--
-- Name: Reviews FK_Reviews_Users_UserId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_Users_UserId" FOREIGN KEY ("UserId") REFERENCES public."Users"("Id") ON DELETE CASCADE;


--
-- Name: Shipments FK_Shipments_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipments"
    ADD CONSTRAINT "FK_Shipments_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("OrderId") ON DELETE CASCADE;


--
-- Name: Shipments FK_Shipments_Users_ShipperId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Shipments"
    ADD CONSTRAINT "FK_Shipments_Users_ShipperId" FOREIGN KEY ("ShipperId") REFERENCES public."Users"("Id");


--
-- Name: TrackingEvents FK_TrackingEvents_Shipments_ShipmentId; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TrackingEvents"
    ADD CONSTRAINT "FK_TrackingEvents_Shipments_ShipmentId" FOREIGN KEY ("ShipmentId") REFERENCES public."Shipments"("ShipmentId") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict vLhFki83mSx3QysTzpO8CcDZCnyK5Q4dP65itV7orm1JbccVPjKBuIHtdRa8r8n

